* {
  box-sizing: border-box;
  /* font-family: 'Signika', sans-serif; */
}

body {
  background: white;
}

.jumbo {
  /* height: 95vh; */
  /* background: linear-gradient(90deg, rgba(255,248,235,1) 0%, rgba(255,181,95,1) 50%, rgba(255,255,255,1) 100%); */
}

.jumbo {
  text-align: center;
  padding: 10px 0px;
  max-width: 100%;
}

.jumbo--signature {
  text-align: center;
  height: 13vh;
  object-fit: contain;
  margin: 0 auto;
}

.jumbo--selfie {
 margin: 0 auto 25px;
 text-align: center;
 width: 20%;
}

@media (min-width: 1200px) {
  .galleryContainer {
    margin: 0 2%;
    width: 95%;
  }
}

@media (max-width: 414px) {
  .jumbo--signature, .jumbo--selfie {
    width: 70%;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .jumbo--signature, .jumbo--selfie {
    width: 30%;
  }
}

.jumbo--circle img {
  /* border-radius: 50%; */
  border: 7px dotted black;
  filter: brightness(1.1);
}

.jumbo--text {
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-weight: 900; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  background: white;
  border-radius: 10px;
  display: inline-block;
  color: #a2a2a2;
}

.jumbo--text p {
  display: inline-block;
}


.jumbo--text p:hover {
  /* color: red; */
}

.jumbo--text p {
  transition: color 1s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(1){
  animation: greyTored 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(2){
  animation: greyToBlack 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(3){
  animation: greyToBlack 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

@keyframes greyTored {
  from {color: #a2a2a2;}
  to {color: red;}
}

@keyframes greyToBlack {
  from {color: #a2a2a2;}
  to {color: black;}
}

/* IMAGE SECTION */

.abc {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    /* display: inline-block !important; */
}


@media (min-width: 415px) and (max-width: 1028px){
  .abc {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 2px; /* Chrome, Safari, Opera */
    -moz-column-gap: 2px; /* Firefox */
    column-gap: 2px;
  }
}

@media (max-width: 414px){
  .abc {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 2px; /* Chrome, Safari, Opera */
    -moz-column-gap: 2px; /* Firefox */
    column-gap: 2px;
  }
}

.gallery img {
  max-width: 100%;
  padding: 8px 0;
}

.gallery--image {
  border-radius: 7px;
  width: 100%;
  padding: 7px 0;
  filter: brightness(1);
  transition: filter 2s;
  -webkit-transition: filter 2s;
}

.gallery--image:hover {
  filter:brightness(1) !important;
}

.lightgallery:not(:first-child) img {
  display: none;
}

#middle {
  transition: background 1s;
  -webkit-transition: background 1s;
  padding-top: 0px;
  padding-bottom: 0px;
}

.gallery {
  padding: 0px 1px;
  /* border: 2px solid #fff6ec; */
  border-radius: 7px;
}

#middle:hover {
  /* background: black; */
  transition: background 1s;
  -webkit-transition: background 1s;
}

#middle:hover .gallery--image {
  filter: brightness(0.3);
}

#middle:hover ~ body {
  background: #d0d0d0 !important;
}

@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
}

/* FOOTER */

footer {
  padding: 50px 0;
}
