* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

#GALL{
  position: absolute;
}

#ABOUTME {
  font-size: 85px;
  margin-left: 50px;
  color: red;
}

.fadeUp {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

#aboutme {
  display: none;
  min-height: 100%;
  /* TO BE UPDATED */
  padding: 0 20%;
  margin: 0 auto;
  text-align: center;
}

.navigation {
  position: absolute;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-400px);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
    opacity: 0;
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}


.jumbo {
  /* height: 95vh; */
  /* background: linear-gradient(90deg, rgba(255,248,235,1) 0%, rgba(255,181,95,1) 50%, rgba(255,255,255,1) 100%); */
}

.jumbo {
  text-align: center;
  padding: 10px 0;
  max-width: 100%;
}

.jumbo--signature {
  text-align: center;
  height: 13vh;
  object-fit: contain;
  margin: 10px auto 18px;
}

.jumbo--selfie {
 margin: 0 auto 25px;
 text-align: center;
 width: 20%;
}

@media (min-width: 1200px) {
  .galleryContainer {
    margin: 0 2%;
    width: 95%;
  }
}

@media (max-width: 414px) {
  .jumbo--signature, .jumbo--selfie {
    width: 70%;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .jumbo--signature, .jumbo--selfie {
    width: 30%;
  }
}

.jumbo--text {
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-weight: 900; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  background: white;
  border-radius: 10px;
  display: inline-block;
  color: #a2a2a2;
}

.jumbo--text p {
  display: inline-block;
}

.jumbo--text p {
  transition: color 1s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(1){
  animation: greyTored 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(2){
  animation: greyToBlack 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.jumbo--text p:nth-child(3){
  animation: greyToBlack 3.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

@keyframes greyTored {
  from {color: #a2a2a2;}
  to {color: red;}
}

@keyframes greyToBlack {
  from {color: #a2a2a2;}
  to {color: black;}
}

@media (min-width: 1px) and (max-width:501px){
  .jumbo--signature{
    height: 17vh;
    /* width: 40%; */
  }
  .jumbo--text p{
    display: block;
  }
}

/* IMAGE SECTION */

.gallery {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    padding-left: 11px;
    padding-right: 10px;
}



.gallery--group img {
  max-width: 100%;
  padding: 8px 0;
}

.gallery--image {
  border-radius: 7px;
  width: 100%;
  padding: 7px 0;
  filter: brightness(1);
  transition: filter 2s;
  -webkit-transition: filter 2s;
}

.gallery--image:hover {
  filter:brightness(1) !important;
}

.lightgallery:not(:first-child) img {
  display: none;
}

#middle {
  transition: background 1s;
  -webkit-transition: background 1s;
  padding-top: 0px;
  padding-bottom: 0px;
}

.gallery--group {
  padding: 0px 1px;
  /* border: 2px solid #fff6ec; */
  border-radius: 7px;
}

#middle:hover {
  /* background: black; */
  transition: background 1s;
  -webkit-transition: background 1s;
}

#middle:hover .gallery--image {
  filter: brightness(0.3);
}

#middle:hover ~ body {
  background: #d0d0d0 !important;
}

@media (min-width: 415px) and (max-width: 1028px){
  .gallery {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 2px; /* Firefox */
    column-gap: 2px;
  }
  .gallery--group img {
    padding: 2px 0;
  }
}

@media (min-width: 474px) and (max-width: 500px) {
  .gallery--group {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
}

/* FOOTER */

footer {
  padding: 50px 0;
}
